# 50Ulke EDA


**Import pandas and read in the 'data/50ulke.csv' file and set it to a DataFrame.**

In [1]:
import pandas as pd

In [38]:
dataset = pd.read_csv("data/50ulke.csv")

**Check the head of the DataFrame.**

In [3]:
dataset.head()

,Unnamed: 0,Countries,National Income,Growth,Per person,Continent
0,0,United States,20412.87,2.27,62152.0,North America
1,1,China,14092.51,6.86,10088.0,Asia
2,2,Japan,5167.05,1.71,40849.0,Asia
3,3,Germany,4211.64,2.51,50842.0,Europe
4,4,United Kingdom,2936.29,1.79,44177.0,Europe

**How many rows and columns are there?**

In [4]:
dataset.shape

(50, 6)

**What is the average National Income?**

In [5]:
dataset['National Income'].mean()

1646.3482000000004

**What were the highest and lowest growth rate?**

In [6]:
dataset['Growth'].max()

7.81

In [7]:
dataset['Growth'].min()

-0.74

**How many countries data we have in europe and america**

In [14]:
sum(dataset['Continent'].apply(lambda x: 'euro' in x.lower()))

19

In [15]:
sum(dataset['Continent'].apply(lambda x: 'america' in x.lower()))

8

**Top 5 countries growth rate**

**(Hint: Check out [sort_values()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_values.html) )**

In [43]:
dataset.sort_values(by = ["Growth"], ascending=False).head(5)

    Unnamed: 0   Countries  National Income  Growth  Per person Continent
31          31     Ireland           385.14    7.81     80641.0    Europe
42          42  Bangladesh           285.82    7.14      1734.0      Asia
17          17      Turkey           909.89    7.05     11114.0      Asia
47          47     Romania           245.59    7.00     12575.0    Europe
1            1       China         14092.51    6.86     10088.0      Asia

**What is the Growth Rate of Egypt?**

In [45]:
dataset[dataset['Countries'] == 'Egypt']['Growth']

44    4.23
Name: Growth, dtype: float64

**What is the country with the highest per person income**

In [50]:
dataset[dataset['Per person'] == dataset['Per person'].max()]['Countries']

19    Switzerland
Name: Countries, dtype: object

**top 5 Countries with the lowest National Income**

In [51]:
dataset.sort_values(by = ["National Income"], ascending=False).tail(5)

,Unnamed: 0,Countries,National Income,Growth,Per person,Continent
45,45,Czech Republic,251.58,4.29,2375.0,Europe
46,46,Portugal,248.89,2.67,24237.0,Europe
47,47,Romania,245.59,7.00,12575.0,Europe
48,48,Vietnam,240.78,6.81,2546.0,Asia
49,49,Peru,231.57,2.51,7199.0,South America